.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://ipfs.io/ipfs/QmcFaTwHojGL4JRbmDZMuW4xj5iYjTHaS4yW6PFLX2htfU');
    background-size: cover;
  }

  #btn-access:hover{
    background-color: #196382;
    color: #BDE8F9;
  }

  #btn-access{
    border:1px solid #A3C7D6; 
    width:100%; 
    background-color: #BDE8F9;
    color: #196382;
    font-weight: bold;
  }

  #descript-style{
    font-family: 'Courier New', Courier, monospace; 
    font-style: italic; 
    color:black;
    font-size: medium;
  }

  #image-action{
    max-width: 200px;
    max-height: 200px;
    margin-left:10%;
  }

  #title-style{
    font-size: 1.5em;
    font-family: serif;
    margin-top: 2%;
    color: black;
  }