<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title id="title-style">{{destination}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image id="image-action" src={{imageAction}} alt="Photo Alt">
    <mat-card-content>
      <p id="descript-style">
        {{description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a id="btn-access" mat-button routerLink={{urlAction}}>Ingresar</a>
    </mat-card-actions>
</mat-card>