#title-registro{
    text-align: center;
}

#div-registro-paciente{
    border:1px solid black;
    padding: 1%;
}

#div-registro-acompanante{
    margin-top: 1%;
    border:1px solid black;
    padding: 1%;
}