<div>
    <h1 style="text-align: center;padding: 1%;">Centro de Atencion Medica</h1>
    <div style="align-items: center; justify-content: center; display: flex; flex-direction: row;">
        <card-router style="margin-right: 4%;" destination = 'Registro Paciente' description = 'Registro unico de pacientes para consultas medicas' imageAction = 'https://ipfs.io/ipfs/QmS5JKrVYheqYeLyFw4zVkXm1Kb7W9P2r28hrKraYtqc96' urlAction='/create'></card-router>
        <card-router destination = 'Busqueda Paciente' description = 'Busqueda de pacientes mediante filtros' imageAction = 'https://ipfs.io/ipfs/QmeukwtnvkjKf14nhTSNnPANfKWHwXAmR27BmQ3EMz9UQr' urlAction='/find'></card-router>
    </div>
</div>